@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto&display=swap');


#root {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #86a4ee;
  font-family: Roboto;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  background-color: #86a4ee;
}

div {
  background-color: transparent;
}

ul {
  background-color: transparent;
  margin: 15px;
  padding: 20px;
}

img {
  max-width: 100%;
}

.navbar {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

.nav-img {
  width: auto;
  opacity: 90%;
  border-radius: 10px;
}

.header-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px 10px 5px 10px;
}

.container {
  width: 55%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px 10px 15px;
  padding-bottom: 20px;
}

.searchbar {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.column .card {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #6178b2;
  background-color: #EDDA5C;
}

.village {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
  font-size: 20px;
}

.vil-img  {
  border-radius: 5px;
  border: 1px solid black;
}

.village li {
  padding: 4px;
}

.footer {
  margin-top: 5px;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid black;
}

.link {
  color: #232d47;
  text-decoration: none;
}

#root li {
  list-style: none;
}